{{ define "content" }}

<ul>
    <li>AWS maintained CDK Examples: <a href="https://github.com/aws-samples/aws-cdk-examples">https://github.com/aws-samples/aws-cdk-examples</a></li>
    <li>
        The AWS CDK Serverless Architecture Patterns: <a href="https://github.com/cdk-patterns/serverless" target="_blank">https://github.com/cdk-patterns/serverless</a>
    </li>
</ul>
<p>
    More examples will come later. If you'd like to
    contribute, please open an Issue on the Github page <a
        href="https://github.com/Open-Construct-Foundation/public-site/issues">here</a>.
</p>

<section class="mb-24">
    {{ range where site.RegularPages "Section" "examples" -}}
    {{ partial "examples.html" . }}
    {{ end }}
</section>
{{ end }}
