{{ define "content" }}

<section class="p-8">

    <h1>CDK Patterns</h1>

    <p>
        When you start building serverless systems you quickly realise that your architecture is decomposed into lots of
        small pieces. These small pieces can be put together in multiple different ways depending on what you are trying
        to
        achieve.

        <a href="http://cdkpatterns.com">http://cdkpatterns.com</a> is designed to be a collection of all the different
        ways
        you can compose these pieces into
        real software. By utilizing the power of aws cdk you can just clone the repo, install the dependencies, run the
        tests and deploy the pattern into your account to truly play/learn about what's possible. The patterns targeted
        for
        collection are the ones that the aws serverless heroes are sharing on stage at conferences meaning you have
        plenty
        of reading material to dig deeper if you want. The project is opensource too so please feel free to contribute
        some
        patterns of your own!
    </p>

    <h1>AWS-provided Examples</h1>

    <p>

        AWS also maintains CDK Examples: <a href="https://github.com/aws-samples/aws-cdk-examples">https://github.com/aws-samples/aws-cdk-examples</a>
        as part of their Samples github repo.
    </p>


    <p class="p-8">
        More examples will come later. If you'd like to
        contribute, please open an Issue on the Github page <a
            href="https://github.com/Open-Construct-Foundation/public-site/issues">here</a>.
    </p>
</section>

<section class="mb-24">
    {{ range where site.RegularPages "Section" "examples" -}}
    {{ partial "examples.html" . }}
    {{ end }}
</section>
{{ end }}
