.board-member {
  padding: 2rem;
  text-align: center;
}

.board-member img {
  border-width: 2px;
  border-color: #ebf8ff;
  border-radius: 9999px;
  width: 12rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
