{{ define "content" }}
<section class="mb-24 p-8 md:w-2/3 md:mx-auto border-2 border-gray-300 bg-gray-200">
    <h1 class="text-4xl text-center">The Open Construct Foundation</h1>
    <h2>
        The OCF pledges:
    </h2>
    <div class="mb-6">
        <p class="my-4 text-2xl">
            To act for the good of the <a href="https://docs.aws.amazon.com/cdk/latest/guide/home.html" target="_blank">AWS
            Construct Development Kit (CDK)</a> community as a whole, fostering healthy
            and productive environments for users of the AWS CDK.
        </p>
        <section class="pl-8">
            <span>To this end we encourage you to participate in a few online forums:</span>
            <ul class="my-6">
                <li>
                    <p>
                        For general discussion, <a href="https://gitter.im/awslabs/aws-cdk" target="_blank">this CDK
                        Gitter
                        channel</a>
                    </p>
                </li>
                <li>
                    <p>
                        For technical issues, report them on the <a href="https://github.com/aws/aws-cdk/issues"
                                                                    target="_blank"> AWS CDK Issues board</a>.
                    </p>
                </li>
                <li>
                    <p>
                        For talk about the CDK Construct Catalog, there is <a
                            href="https://gitter.im/CDK-Construct-Catalog/community" target="_blank">this Gitter
                        channel</a>.
                    </p>
                </li>

            </ul>
        </section>

    </div>
    <div class="mb-6 border-t-2">
        <p class="my-4 text-2xl">
            To build an ecosystem around the AWS CDK that benefits the users and the community members by making
            available code developed by and for the community with the explicit purpose to share among the public.
        </p>
        <section class="pl-8">
            <span>To this end we created the <a href="https://twitter.com/awscdkio" target="_blank">CDK Construct Catalog</a> and encourage
                everyone to use and to contibute to it.</span>
        </section>
    </div>
    <div class="mb-6 border-t-2">
        <p class="my-4 text-2xl">
            To build and develop best practices around the AWS CDK that benefit the users and the community.
        </p>
        <section class="pl-8">

        <span>To this end we created the <a href="/guides">Guides</a> and <a href="/examples">Examples</a> for the
            community and encourage the community to <a
                href="https://github.com/Open-Construct-Foundation/public-site" target="_blank">contribute</a>.</span>
        </section>

    </div>
</section>
{{ end }}
